.box {
  height: 80%; /* Increased height */
  width: 80%; /* Increased width */
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 14px;
  background-color: #023e8a;
  color: #fff;
  margin: 2%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.boxIcon {
  width: 3vw; /* Slightly increased */
  height: 3vw; /* Maintain aspect ratio */
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxIconImg {
  width: 100%; /* Ensure it fills the parent */
  height: 100%;
  object-fit: contain;
}

.value {
  font-size: 64px;
  align-self: center;
  grid-column: 1/-1;
  justify-self: center;
}

h2 {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}
